* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    width: auto;
    background-color: #efebf9;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
             'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
             'Helvetica Neue', sans-serif;
}

.links a {
    color: #858990;
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
}

a:hover {
    color: rgba(75, 138, 75, 0.69);
}

.intro {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}

.links {
    margin-top: 5px;
}

.projects a {
    text-decoration: none;
}

.projects {
    list-style: none;
}