* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 18px 0;
}

.line {
    background-color: rgb(114, 74, 126);
    padding: 3px;
    width: 50vh;
}

.contact {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 12px 0;
}

a {
    text-decoration: none;
}