* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact div {
    font-size: 32px;
    align-self: center;
    margin: 40px 0px;
}

.contact ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.contact a {
    text-decoration: none;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
