* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact div {
    font-size: 32px;
    align-self: center;
    margin: 40px 0px;
}

.contact ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
